.mainAnc{
    -fx-background-color: white;
}
.l_s_animation{
    -fx-background-color: rgb(21, 1, 1);
}
.label
{
    -fx-text-fill: #280404;
}
.HBox{
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-border-color: #150101;
}
.vbox{
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: white;
}
.signup-btn{
    -fx-background-color: #1e0202;
    -fx-border-radius: 30;
    -fx-text-fill: white;
}
.signup-btn:hover{
    -fx-background-color: rgba(86, 61, 61, 0.59);
}
.label-animation
{
    -fx-text-fill: #ffffff;
}
.animation-btn{
    -fx-background-color: #fffefe;
    -fx-border-radius: 30;
    -fx-text-fill: #1e0d0d;
    -fx-border-color: white;
}
.animation-btn:hover{
    -fx-background-color: rgba(86, 61, 61, 0.59);
}
.logo{
    -fx-border-radius: 30;
    -fx-border-color: #1e0202;
}
.error{
    -fx-text-fill: #a22525;
}